@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Alternates:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fbfcfd;
}

.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1279px) {
  .container {
    margin: 0 10px;
  }
}
.active {
  border: 2px solid #0052fe;
}

/* .none {
  border: 1px solid #dfe3e8;
} */
@media only screen and (max-width: 550px) {
  .table thead tr th:nth-last-child(-n + 4),
  .table tbody tr td:nth-last-child(-n + 5) {
    display: none;
  }

  .table thead tr th:nth-child(2),
  .table tbody tr td:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .table thead tr th:nth-last-child(-n + 2),
  .table tbody tr td:nth-last-child(-n + 3) {
    display: none;
  }
}
